# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/
.env

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Tests / cache
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Frontend (if added later)
node_modules/
dist/
build/

# Docker overrides
docker-compose.override.yml
/tools/